<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<p>View your invoice history <a href="/charges">here</a>.</p>
<!-- Close of user inner -->
		</div>
	</div>	
</div>