<div class="landing jumbotron">
  <div class="container">
    <h1>What we deliver</h1>
    <p class="lead"> Learn about how we can help you diversify yourself in a competitive workplace</p>
    <p><a class="btn btn-primary btn-lg" href="#whatwedo">See what we do</a></p>
  </div>
</div>