<div class="landing jumbotron">
  <div class="container">
    <h1>What we deliver</h1>
    <p class="lead"> Learn about how we can help you diversify yourself in a competitive workplace</p>
    <p><%= link_to "See what we do", new_user_registration_path, :class => 'btn btn-primary btn-lg' %></p>
  </div>
</div>