<div class="landing jumbotron" style="background-image: url('<%= asset_path("jumbotrons/subway-woman.jpg")%>');
background-position: center top; height: 700px">
  <div class="container" style="width: 650px;
float: right;
text-align: right;
margin-right: 100px;">
    <h1 style="width: auto;">Conversation is the key to language learning.</h1>
    <p class="lead" style="color: rgba(255, 255, 255, 0.9);
line-height: 1.5;
font-size: 22px;
font-family: 'proxima-nova',sans-serif;
font-style: normal;
font-weight: 400;
width: auto;
	margin-right: 0px;
text-shadow: 2px 2px 4px #000;"> Take a <b>free online tutoring</b> lesson and start speaking Mandarin with a Mandarin Minds tutor! Simply sign up and book your trial lesson. No strings attached.</p>
    <p style="margin-right: 0px !important;"><a style="position: relative; right: -120px;" data-toggle="modal" data-target="#signup" class="btn btn-lg btn-primary" >Sign up</a></p>
  </div>
</div>