<div class="landing jumbotron">
  <div class="container">
    <h1>Learn mandarin, Chinese culture, history and much more</h1>
    <p><%= link_to "Try it out for free", new_user_registration_path, :class => 'btn btn-primary btn-lg' %><%= link_to "How it Works", "/about", :class => 'btn btn-grey btn-lg' %></p>
  </div>
</div>