<div class="landing jumbotron" style="background-image: url('<%= asset_path("jumbotrons/boy-laptop.jpg")%>');
background-position: center top; height: 700px">
  <div class="container" style="width: 650px;
float: right;
text-align: right;
margin-right: 100px;">
    <h1 style="width: auto;">Engage. Interact. Learn.</h1>
    <p class="lead" style="color: rgba(255, 255, 255, 0.9);
line-height: 1.5;
font-size: 22px;
font-family: 'proxima-nova',sans-serif;
font-style: normal;
font-weight: 400;
width: auto;
	margin-right: 0px;
text-shadow: 2px 2px 4px #000;">Advance your learning with a Mandarin Minds eBook package that is tailored to fit your level and needs. </p>
  </div>
</div>