<div class="landing jumbotron" style="background-image: url('<%= asset_path("jumbotrons/subway-woman.jpg")%>');
background-position: center top; height: 700px">
  <div class="container" style="width: 500px;
float: right;
text-align: right;
margin-right: 100px;">
    <h1>Our Features</h1>
    <p class="lead" style="color: rgba(255, 255, 255, 0.9);
line-height: 1.5;
font-size: 27px;
font-family: 'proxima-nova',sans-serif;
font-style: normal;
font-weight: 400;
width: 500px;
text-shadow: 2px 2px 4px #000;"> Mandarin Minds has a range of offerings. Take a step in the right direction, the choice is yours</p>
    <p><a class="btn btn-primary btn-lg" href="#whatwedo">See what we do</a></p>
  </div>
</div>