<div class="landing jumbotron">
  <div class="container">
    <h1>Learn Mandarin, Chinese culture, history and much more</h1>
    <p><a data-toggle="modal" data-target="#signup" class="btn btn-primary btn-lg">Try it out for free</a><%= link_to "How it Works", "/what-we-offer", :class => 'btn btn-grey btn-lg' %></p>
  </div>
</div>