<div class="jumbotron">
  <div class="container">
    <h1>Learn Mandarin live, 1 on 1 with teachers in China</h1>
    <p><%= link_to "Try it out for free", new_user_registration_path, :class => 'btn btn-primary btn-lg' %><%= link_to "How it Works", "/about", :class => 'btn btn-grey btn-lg' %></p>
  </div>
</div>