<div class="container">
  <div class="row">

	<div class="welcome jumbotron">
			<%= image_tag "bigfoot.png" %> 
	        <h2>Being a journey with Mandarin Minds</h2>
	        <p class="lead">Join the 1% of Australians studying Mandarin today and lead Australia into the Asian Century tomorrow. We believe Australia should develop closer ties with China and benefit from its astronomical rise in global stature.</p>
	        <p><a role="button" href="#" class="btn btn-lg btn-primary">Get started today</a></p>
	</div>
	<div class="features jumbotron">
		<div class="row service">
			<div class="col-md-7 descriptor video">
				<h3 class="title">Video Courses</h3>
				<p class="lead">Learn Mandarin from the comfort of your home. Simply select a teacher and schedule lessons using our online calendar and lesson system.</p>
	        <p><a href="#" class="">Start a free trial   <i class="fa fa-arrow-right"></i></a></p>
			</div>
			<div class="col-md-5 icon">
	        	<%= image_tag "sampleicon1.png", class:"action" %>
			</div>
		</div>
		<div class="row service">
			<div class="col-md-7 descriptor live-lessons">
				<h3 class="title">Live lessons online</h3>
				<p class="lead">Our teachers are certified graduates from Chinese Universities. They are selected by our team and have a passion to teach.Our syllabus is derived from prestigious Chinese Universities</p>
	        <p><a href="#" class="">What we offer <i class="fa fa-arrow-right"></i></a></p>
			</div>
			<div class="col-md-5 icon">
	        	<%= image_tag "sampleicon1.png", class:"action" %>
			</div>
		</div>
</div>

  </div>
</div>