<h2>Feel free to get in contact with the Mandarin Minds team</h2>

<p>For sales and general inquiries:</br>
<b>E</b> sales@mandarinminds.com</br>
<b>P</b> 1800 19 18 89</p>

<p>For technical support:</br>
<b>E</b> itsupport@mandarinminds.com</p>