<div class="packages jumbotron">
	<div class="row">
		<h1>Get in touch with Mandarin Minds</h1>
		
		<p class="lead">For sales and general inquiries:</br>
		<a href="mailto:sales@mandarinminds.com">sales@mandarinminds.com</a></br>
		1800 19 18 89</p>
		
		<p class="lead">Technical Support</br>
		<a href="mailto:itsupport@mandarinminds.com">itsupport@mandarinminds.com</a></p>
	</div>
</div>
<div class="asian-century jumbotron">
  <div class="container">
    <h1>Why Mandarin?</h1>
    <p class="lead">Every parent wants the best for their child. In today's evolving world, an additional language helps to open doors and increase career opportunities across the globe. China's emergence as an economic superpower and her close ties to Australia will put your child in good standing when it comes to University and job applications.</p>
  </div>
 </div>