<% content_for :head do %>
  <title>eBooks Package</title>
  <meta name="description" content="We offer an eBooks package which includes over one hundred books and quizzes for all stages of Mandarin expertise.">
<% end %>

<% if user_signed_in? %>
<div class="container-fluid">
<% else %>
<div class="container">
<% end %>

<div class="packages jumbotron">
  	<h1>Over 100 eBooks</h1>
  		<p class="col-md-12 lead">Join over 9,000 students who are currently improving their Mandarin with Mandarin Minds eBooks.</p>
  		 <p style="margin-right: 0px !important;"><a style="" data-toggle="modal" data-target="#signup" class="btn btn-lg btn-primary" >Sign up</a></p>
	  <ul class="col-md-10 col-md-offset-1">
		<li><i class="fa fa-check"></i>Content that suits you.
		<p class="lead">Learn at a level that is appropriate for you. An initial placement test will determine your current skill and knowledge level and allocate the appropriate eBook content for you.  Get the best results with learning material that is just challenging enough to keep you interested, engaged and hungry for more!</p>
		</li>
		<li><i class="fa fa-check"></i>Fun and engaging.
		<p class="lead">Each eBook contains interactive exercises, fun activities and plenty of pictures. You will be quickly improving your grammar, vocabulary and pronunciation skills without even realising you are learning!</p>
		</li>
		<li><i class="fa fa-check"></i>Monitor your learning.
		<p class="lead">Track your progress with periodic quizzes and feedback reports. Keep motivated with rewards that will fast track you towards achieving your personal targets.</p>
		</li>
		<li><i class="fa fa-check"></i>Convenient.
		<p class="lead">To continue improving your Mandarin, it is important that you learn at a time and place that best suits you. Engage with Mandarin eBooks from your computer, tablet or smartphone and enjoy the benefits of a flexible learning system.</p>
		</li>
	  	</ul>	

	  	<% unless user_signed_in? %>
   		
   		<% end %>  	
 </div>

<% duduPlan = Plan.find_by name: "eBooks Package Subscription" %>

<% if duduPlan %>
  <div id='plans' class="plan col-md-offset-4 col-md-4">
	  	<h1>Enjoy learning Mandarin with eBooks!</h1>
		<p class="lead" style="text-align: center; font-size: 21px;">Monthly eBook subscriptions for individuals and schools</p>
	    <div class="plan-wrapper">
	      <div class="name">&nbsp;<%= duduPlan.name %></div>
	      <div class="details">
	        <div class="price">
	          <%= number_to_currency duduPlan.price, :precision => 0 %> / month
	        </div>
	      </div>
	      <% if user_signed_in? %>
	      	<% if current_user.settings.purchased_dudu %>
	      		<%= link_to "Visit your Dashboard to access your eBooks Package",  '/dashboard', :class => 'btn btn-primary btn-lg' %>
	      	<% else %>
	      		<%= link_to "Buy now",  charge_plan_path(duduPlan), :class => 'btn btn-primary btn-lg' %>
	      	<% end %>
	      <% end %>
	    </div>
   </div>

   
<% end %>

	
	

		    
		</div>
	</div>
</div>
