<h1>FAQ</h1>

<p>Here is our FAQ list of the most common questions we get about Mandrind Minds. If you still have questions, you can always chat with us to learn more!</p>

<h3 class="question">How does Mandarin Minds work?</h3>

<p>See what we offer <a href="/what-we-offer">here</a> for more information</p>

<h3 class="question">What is a free trial lesson?</h3>

<p>A free trial lesson allows you to try out half a lesson (25 minutes) to get a feel for what a lesson is and what to expect. From here, you will be able to determine if you are comfortable with this framework, system and style of learning. During this lesson you will discuss your goals and appropriate course material will be recommended by the teacher.</p>

<h3 class="question">When can I take lessons?</h3>

<p>We have class available from Monday to Saturday, for further details log in to see each teachers individual timetable.</p>

<h3 class="question">What if I'm already studying Mandarin?</h3>

<p>If you are already studying Mandarin, we recommend going through your current textbook with your teacher before embarking on more challenging work.</p>

<p>From our experience communicating with schools around Australia, the time set aside for Mandarin per week in schools is simply not sufficient for the students to grasp a deeper understanding of the subject. A group setting is also not helpful because dynamics cause the stronger students to speak up while the less confident students keep to themselves.</p>

<h3 class="question">I am not a student but I would like to learn Mandarin, how can you help me?</h3>

<p>Whether you are in a profession, an organisation or simply learning the language out of interest we have a suitable package available for you. To be able to understand your requirements we ask you to sign up for a free trial lesson.</p>

<h3 class="question">What platform do you use to teach lessons?</h3>

<p>Lessons are conducted online using Skype with a teacher in China.</p>

<h3 class="question">How do I get a teacher?</h3>

<p>After purchasing a package you will be able to see a lesson tab where you can schedule classes with a teacher. In the event that your usual teacher is not available, other teachers' schedules can also be accessed. You can then go and choose their preferred timeslot. Finally, it is not possible to book a class less than 48hrs before the scheduled lesson time.</p>

<h3 class="question">Can I work with the same tutor each time?</h3>

<p>In the perfect world it would be ideal to have the same teacher from the start and this is something we are working towards.</p>
<p>However, with technology, any teacher would be able to see exactly where you left off and continue from there.</p>

<h3 class="question">Can I cancel a lesson?</h3>

<p>You are able to cancel a lesson at anytime. If you cancel your class more than 24 hours in advance you will not be charged for the lesson. Classes cancelled within 24 hours of the scheduled class will incur the full class fee.</p>

<h3 class="question">Can I get a refund on my package?</h3>

<p>Only under extenuating circumstances will we offer refunds on packages and this must be discussed with the administrative department.</p>

<h3 class="question">Can I review my previous lessons?</h3>

<p>Most definitely! At the end of each class the teacher will provide feedback on areas in which you need to focus. Homework will be assigned to those who ask for it; this will guide the students on how to review the previous materials.</p>

<h3 class="question">How many hours a week can I take a class?</h3>

<p>We recommend a minimum of two 50 min slots per week. This is because being a language, constant practice (listening, reading, speaking, writing) is imperative.</p>

<h3 class="question">I don't live in Australia can I still sign up? </h3>

<p>Absolutely, there is nothing stopping students signing up from outside Australia. All packages are quoted in Australian Dollars so you will incur a FX fee from your bank when making payment.<p>

<h3 class="question">I have more questions, who can help me?</h3>

<p>If you have more questions please send an email to 
 <script type='text/javascript'>
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy50250 = 's&#97;l&#101;s' + '&#64;';
 addy50250 = addy50250 + 'm&#97;nd&#97;r&#105;nm&#105;nds' + '&#46;' + 'c&#111;m';
 document.write('<a ' + path + '\'' + prefix + ':' + addy50250 + '\'>');
 document.write(addy50250);
 document.write('<\/a>');
 //-->\n </script><script type='text/javascript'>
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type='text/javascript'>
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script> and we will get back to you as soon as we can.</p>
			    
		