<div class="jumbotron">
  <div class="container">
    <h1>Learn Mandarin live, 1 on 1 with teachers in China</h1>
    <p><a role="button" class="btn btn-primary btn-lg">Try it out for free</a> <a class="btn btn-primary btn-grey btn-lg" href="/about">How it Works</a></p>
  </div>
</div>
<div class="container">
<div class="row">
<h2>Homepage for Mandarin Minds</h2>
<p>
  The time is now: <%= Time.now %>
</p>
</div>
</div>