<div class="jumbotron">
  <div class="container">
    <h1>你好世界</h1>
    <p>Join the 1% of Australians studying Mandarin today and lead Australia into the Asian Century tomorrow. Mandarin Minds offers live one-on-one lessons with teachers in China and is suitable for all ages and knowledge levels.</p>
    <p><a role="button" class="btn btn-primary btn-lg">Learn more »</a></p>
  </div>
</div>
<div class="container">
<div class="row">
<h2>Homepage for Mandarin Minds</h2>
<p>
  The time is now: <%= Time.now %>
</p>
</div>
</div>