
<!-- <p>
  The time is now: <%= Time.now %>
</p>
-->


<% flash.each do |name, msg| %>
 <%= content_tag(:div, class: "alert alert-success") do%>
    <%=msg%>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
 <%end%>

<% end %>


<div class="welcome jumbotron">
		<%= image_tag "mmsample.jpg", class:"img-circle" %> 
        <h2>Take live classes with our teachers in China</h2>
        <p class="lead">Join the 1% of Australians studying Mandarin today and lead Australia into the Asian Century tomorrow. We believe Australia should develop closer ties with China and benefit from its astronomical rise in global stature.</p>
        <p><a role="button" href="#" class="btn btn-lg btn-primary">Get started today</a></p>
</div>

