

<div class="row">
	<div class="packages jumbotron">
				<h1>Meet the Mandarin Minds gang</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit tincidunt imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut rutrum augue. Pellentesque consequat lectus lorem, scelerisque tempor arcu euismod in. Praesent varius molestie consequat. Mauris sed massa purus.</p>
			</div>
	<div class="teacher showcase row">
		<div class="image-holder col-md-3">
			<%= image_tag "mmsample.jpg", class:"img-circle" %>
		</div>
		<div class="description co-md-9">
			<h2 class="title"> Minnie Dong</h2>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit tincidunt imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut rutrum augue. Pellentesque consequat lectus lorem, scelerisque tempor arcu euismod in. Praesent varius molestie consequat. Mauris sed massa purus.
			</p>
		</div>
	</div>
	
	<div class="teacher showcase row">
		<div class="image-holder col-md-3">
			<%= image_tag "mmsample.jpg", class:"img-circle" %>
		</div>
		<div class="description co-md-9">
			<h2 class="title"> Minnie Dong</h2>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit tincidunt imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut rutrum augue. Pellentesque consequat lectus lorem, scelerisque tempor arcu euismod in. Praesent varius molestie consequat. Mauris sed massa purus.
			</p>
		</div>
	</div>
	
	<div class="teacher showcase row">
		<div class="image-holder col-md-3">
			<%= image_tag "mmsample.jpg", class:"img-circle" %>
		</div>
		<div class="description co-md-9">
			<h2 class="title"> Minnie Dong</h2>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit tincidunt imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ut rutrum augue. Pellentesque consequat lectus lorem, scelerisque tempor arcu euismod in. Praesent varius molestie consequat. Mauris sed massa purus.
			</p>
		</div>
	</div>
	
</div>