<%= month_calendar events: @lessons, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
  <p><%= date.strftime("#{date.day.ordinalize}") %></p>

  <% events.each do |lesson| %>
    <div>
      <% if lesson.student.nil? %>
      <p><%= link_to "Free Lesson Slot", lesson %></p>
      <% else %>
      <p><%= link_to "Booked Lesson Slot", lesson %></p>    
      <% end %>
    </div>
  <% end %>
<% end %>