<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
<div id="error"><%= flash[:error] %></div>
<% end %>

<% if current_user.role_id == 2 %>
  <div id="teacher_calendar">
    <%= render partial: "teachercalendar", locals: {events: @lessons} %>
  </div>
<% else %>
  <div id="student_calendar">
    <%= render partial: "studentcalendar", locals: {events: @lessons} %>
  </div>
<% end %>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".lock").click(function(){
	var lock = $(this);
	var button = lock.prev();
	if (lock.hasClass("fa-lock")) {
		lock.removeClass("fa-lock");
		lock.addClass("fa-unlock-alt");
		button.removeAttr('disabled');	
	} else {
		lock.removeClass("fa-unlock-alt");
		lock.addClass("fa-lock");
		button.attr('disabled','disabled');		
	}
});
</script>