<div class="container">
  <div class="row">

	<div id="posts" class="post-index">
	  <%= render "index" %>
	</div>

<%= link_to 'New Post', new_post_path, remote: true, class: "btn btn-primary" %>
  
  </div>
</div>
<div id="post-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" id="inner-post-modal"></div>
		</div>
	</div>
</div>