// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson-list{
	table{
		background-color: #E3AFAF;
		width: 100%;
	}

	tr{
		width: 100%;
	}

	header{
		text-align: center;
		background-color: #890f0f;
		color: white;
		font-weight: bold;
		font-size: 20px;
	}
}

span.booked {
	color: crimson;
}

span.available {
	color: green;
}

.lesson-submit {
	display: none;
	border: none;
}

.day {
	.contents {
		text-align: center;
		
		button {
			background: transparent;
			border:none;
		}
		
		.cal-book {
			color: #93192c;
			font-size: 20px;
		}
		
		.cal-lessons {
			color: #93192c;
			font-size: 20px;
		}
	}

	.hour{
		height: 30px;
		font-family: "proxima-nova",sans-serif;
		border-top: solid 1px lightgrey;
		border-bottom: solid 1px lightgrey;

		i {
			color: #93192c;
			font-size: 20px;
		}
	}
}

.lesson-heading {
	text-align: center;
	
	.instructions {
	    border-radius: 10px;
	    position: absolute;
	    top: 0;
	    height: 100px;
	    padding: 15px;
	    border: 15px solid #93192c;
	    left: 50px;
	    ul {
	    	list-style: none;
	    	padding-left: 0;
	    	
		    li {
			    text-align: left;
			    i {
				    color: #93192c;
				    font-size: 20px;
			    }
			    
		    }
	    }
	}
}

