// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.day {
	border: 1px solid black;
	height: 100px;
	width: 200px;
}

td.prev-month {
	color: lightgray;
}

td.next-month {
	color: lightgray;
}

td p{
	font-weight: bold;
}

span.booked {
	color: crimson;
}

span.available {
	color: green;
}
