// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post {
	margin-top: 100px;
	text-align: center;
	
	&:first-child {
		margin-top: 0px;
	}
	
	.img-circle {
	    position: relative;
	    top: 40px;
	}
	
	.post-author {
	    position: relative;
	    z-index: 5;
	}
	
	.post-body {
	    background: none repeat scroll 0 0 #f5f5f5;
	    border-radius: 15px;
	    font-size: 16px;
	    padding: 70px 30px 30px 30px;
	    text-align: left;
	    position: relative;
	    font-size: 19px;
	    font-weight: 200;
	    .date {
		    position: absolute;
		    top: 18px;
		}
		
		.read-more {
			a {
				color: #890f0f;
				padding-right: 5px;
				padding-left: 8px;
				
				&:hover {
					text-decoration: none;
				}
			}
			
			i {
				color: #890f0f;
			}
		}
	}
	
	h1 {
		font-weight: bold;
		font-size: 28px;
		a {
			transition: color 0.2s ease;
			color: black;
			
			&:hover , &:focus {
				color: #890f0f;
				text-decoration: none;
			}
			
		}
	}
}

.blog-crud .btn.btn-primary {
	margin-top: 25px;
}

.full {
	margin-top: 20px !important;
}