<% content_for :head do %>
  <title>Your Charges</title>
  <meta name="description" content="A list of all payments you have made to Mandarin Minds.">
<% end %>

<% offset = current_user.timezone_offset %>
<% offset ||= 8 %>

<h1>List of Charges</h1>

<% if @mycharges.length > 0 %>
<div id="charge-list">
	<div class="row">
		<div class="col-xs-2"><b>Paid On</b></div>
		<div class="col-xs-4"><b>Item</b></div>
		<div class="col-xs-2"><b>Amount</b></div>
		<div class="col-xs-4"><b>Transaction ID</b></div>
	</div>

	<% @mycharges.each do |c| %>
	<div class="row charge-listing">
		<div class="col-xs-2"><%= (c.created_at.utc + offset.hours).strftime('%D') %></div>
		<div class="col-xs-4"><%= c.description %></div>
		<div class="col-xs-2"><%= number_to_currency (c.amount/100.00), :precision => 2 %></div>
		<div class="col-xs-4"><%= c.sale_id %></div>
	</div>
		
	<% end %>
</div>


<% else %>
	<p>You have not made any purchases yet. Visit the <a href="/plans">Plans</a> page to view what's on offer.</p>
<% end %>

<style type="text/css">
.charge-listing:nth-child(odd) {background: #FFF}
.charge-listing:nth-child(even) {background: #EEE}
</style>