<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		          <ul class="nav nav-sidebar">
		            <li id="sidetips" class="active" data-toggle="tooltip" data-placement="right" data-animation="true" title="Overview"><a href="#">News</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Schedule"><a href="#">Teachers</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="#">Calendar</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Settings"><a href="#">Videos</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="#">Account Settings</a></li>
		          </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">