<!DOCTYPE html>
<html ng-app style="padding-top: 0px">
<head>
  <title>Mandarin Minds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kqu8wnu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
</head>
<body style="padding-top: 0px">
  <%= yield %>

</body>
</html>
